/*.done {
text-decoration: line-through;
opacity: 0.5;
}

.selected {

color: green;
}*/ 
body {
    width: 80%;
}
.grey {
    
    background-color: lightgray;
    border-radius: 15px;
  
}

.green {

    color:#000!important;
    background-color:#4CAF50!important;
    border-radius: 15px;
}

h1 {

    display: inline-block;
}