@media(min-width: 760px) {

    .container-1 {
        display: flex;
        
        /*align-items: flex-start; /*START OF FLEX BOX*/
       /* align-items: flex-end; /*END OF FLEX BOX*/
       /* align-items: center; /* CENTRE OF FLEX BOX*/
    
        /*flex-direction: column; /* ELEMENTS ARE VERTICAL RATHER THAN HORIZONTAL */
        
    }
    .container-2 {
        display: flex;
        /*
       justify-content: flex-start; 
       justify-content: center; 
       justify-content: flex-end; 
       justify-content: space-around; /* CREATES EQUAL SPACE AROUND */
       
    
    justify-content: space-between; /* CREATES EQUAL SPACE BETWEEN */
    
     
    }

}
.container-3 {
    display: flex;
   flex-wrap: wrap; /* ELEMENTS DROP BELOW WHEN OUT OF SPACE SIDEWAYS */
   justify-content: space-between;
}

.container-1 div, .container-2 div, .container-3 div {
    border: 1px #ccc solid;
    padding: 10px;
}
.box-1 {
    background-color: red;
    flex: 2; /*  HOW MUCH SPACE IT TAKES UP */
    order: 2 /* THE ROW ORDER */
}

.box-2 {
    background-color: blue;
    flex: 1;
    order: 1;
}
.box-3 {
    background-color: yellow;
    flex: 1;
    order: 3;
}

.container-2-box {

   flex-basis: 27%;
}

.container-3-box {

    flex-basis: 10%;

 }