.basicContainer {
    margin-top: 100px;
    border-radius: 15px;
    background-color: #eee;
}

.basicContainer2 {
    padding-top: 10px;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid #eee;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.basicContainer3 {
    margin-top: 40px;
}

.basicContainer4 {
    padding-top: 10px;
    margin-top: 40px;
    border-radius: 5px;
    border: 1px solid #eee;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}


.img-thumbnail {
    border: 3px solid #eee;
}

.caption p {
margin-bottom: 0;
padding: 5px;
}
.selected {

background-color: #eee;
border-radius: 5px;
}

p {
    font-weight: 200;
}

img{
    height: 480px;
}
h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: -10px;
}

h3 {
    font-family: "Avenir", "Montserrat";
    font-weight: 400;
    margin-bottom: 50px;
    
   
}
span {
    border-bottom: 1px solid black;
}


.basicContainer2 p {
    font-family: Courier New, Courier, monospace;
    text-transform: uppercase;
}

ul {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* QUOTATION MARKS */

#quoteMarkL {
    margin-right: 5px;
    vertical-align: 1px;
}

#quoteMarkR {
    margin-left: 5px;
    vertical-align: -20px;
}




/* OL NUMBER STYLING */

.custom-counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.custom-counter li {
  counter-increment: step-counter;
}

.custom-counter li::before {
  content: counter(step-counter);
  margin-right: 10px;
  font-size: 80%;
  background-color: #000000;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
  float: left;
}

